@{
    ViewBag.Title = "Admin Home";
}

<h2>Home</h2>

<p>
    @Html.ActionLink("Manage Users", "Dashboard", "Admin")
</p>
<p>
    @Html.ActionLink("Manage Roles", "Index", "RoleAdmin")
</p>