<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <%= image_tag("logo-face.jpg", :alt => "Pillbox Logo", :class => "img-polaroid") %><br>
    <h1>Welcome to Pillbox, <%= @user.name %></h1>
    <p>
      You have successfully created your Pillbox account!
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>