<h2 class="text-left">About <span class="muted">PillBox</span></h2>
<div id="about" class="row-fluid text-left">
    <%= image_tag("together.jpg", :alt => "Grandpa and Dad", :class => "img-polaroid") %>

    <p class="lead"> We believe that life is better when we work together. PillBox lets us keep our loved ones healthy by providing them reminders about when to take their medications, and lets us know when we can help them keeping up with their prescriptions. PillBox also lets our loved ones help us with reminders and support to keep us track with our own medications. </p>

    <p class="lead"> Our tools help you easily create a log of the medications that your loved ones you want to take and we'll help you be diligent about keeping your health on track via our online dashboard and email, SMS and phone call reminders.
   	</p>

   	<p class="lead"> We believe that life is better when we work together. That is why we implemented our "coach" feature. Enlist coaches to help you stay on track or be a coach yourself and send gentle reminders to your loved ones when they forget to take their meds. Your physician can even be your PillBox coach!
   	</p>

   	<p class="lead">Enjoy using PillBox and please never hesitate to reach out with suggestions on how we can improve the service. We are in the early stages of developing PillBox, so please email us with feedback so that we can make PillBox better for you and your loved ones. Thanks!
   	</p>

<!--     <p class="lead">PillBox helps us keep track of our medications and supplements. Create a log of the medications you want to take and we'll help you be diligent about keeping your health on track via our online dashboard and email, SMS and phone call reminders.</p>

    <p class="lead">We believe that life is better when we work together.  That is why we implemented our "coach" feature. Enlist coaches to help you stay on track or be a coach yourself and send gentle reminders to your loved ones when they forget to take their meds. Your physician can even be your PillBox coach!</p>

    <p class="lead">Enjoy using PillBox and please never hesitate to reach out with suggestions on how we can improve the service. We are in the early stages of developing PillBox, so please <a href="mailto:pillbox.matt@gmail.com">email us</a> with feedback so that we can make PillBox better for you and your loved ones. Thanks!</p> -->
    
</div>