<div class="container">
	<div class="jumbotron">
		<div class="jumbotron-content">
		  <h1 id="tagline1-jumbotron" class="">Keep your loved ones healthy.</h1>
		  <p class="lead "></p>
		  <p><%= link_to("Sign Up Now >", "users/sign_up", html_options = {:class => "btn btn-lg btn-primary pull-left"}) %></p>
		</div>
	</div>
</div>