<div class="container">
	<div class="jumbotron">
		<div class="jumbotron-content">
		  <h2 id="tagline1-jumbotron" class="featurette-heading">Keep your loved ones healthy.</h2>
		  <p class="lead "></p>
		  <p>
		  	<%= link_to 'users/sign_up', :class => "btn btn-lg btn-primary pull-left" do %>
  				Sign Up Now <i class="glyphicon glyphicon-chevron-right"></i>
				<% end %>
			</p>
		</div>
	</div>
</div>