<hr class="featurette-divider">

<div class="container marketing">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Focus on Life <span class="text-muted"></span></h2>
      <p class="lead">PillBox fits into your relationships with your loved ones and seamlessly moves medications from the center of your relationships to the background, allowing you to focus on the parts of life that really matter, while you keep your loved ones healthy.</p>
    </div>
    <div class="col-md-5">
      <%= image_tag("Family.png", html_options = {:alt => "Family Together", :class => " landing-icon featurette-image img-responsive center-block"}) %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5">
      <%= image_tag("Cloud_Phones.png", html_options = {:alt => "Cloud and Phones", :class => "featurette-image img-responsive center-block landing-icon left-landing-icon"}) %>
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">Family-Social Medication Reminders<span class="text-muted"></span></h2>
      <p class="lead">Interactive SMS and automated calls allow family to interact with the service without the need for a smartphone or technical knowhow. PillBox leverages the power of a cloud-connected service to deliver rich analytics, gamified incentives and engaging group communications.</p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Keep Your Loved Ones Healthy. Together.<span class="text-muted"></span></h2>
      <p class="lead">PillBox brings in the entire family to create mutual responsibility around the health of those we love so that you can structure your conversation and relationships to go beyond medications. We enable you to express your love in a way that changes their behavior so that together, you can keep your loved ones healthy.</p>
    </div>
    <div class="col-md-5">
      <%= image_tag("Love.png", html_options = {:alt => "Couple Hugging", :class => "featurette-image img-responsive center-block landing-icon"}) %>
    </div>
  </div>

<!-- End of the container marketing div -->

</div>
