<h3>Thanks to the great designers at the Noun Project for lending us their artwork!</h3>
<ul>
	<li>Family designed by <a href="http://www.thenounproject.com/jerrywang.ntu">Jerry Wang</a> from the <a href="http://www.thenounproject.com/">Noun Project</a></li>
	<li>Grandmother designed by <a href="http://www.thenounproject.com/jerrywang.ntu">Jerry Wang</a> from the <a href="http://www.thenounproject.com/">Noun Project</a></li>
	<li>Cloud designed by <a href="http://www.thenounproject.com/edward">Edward Boatman</a> from the <a href="http://www.thenounproject.com/">Noun Project</a></li>
	<li>Telephone designed by <a href="http://www.thenounproject.com/bluevurt">Patrick Morrison</a> from the <a href="http://www.thenounproject.com/">Noun Project</a></li>
	<li>Smartphone designed by <a href="http://www.thenounproject.com/sherrinford">Sherrinford</a> from the <a href="http://www.thenounproject.com/">Noun Project</a></li>
	<li>Love designed by <a href="http://www.thenounproject.com/Ponedelnik">Ilya Melichenko</a> from the <a href="http://www.thenounproject.com/">Noun Project</a></li>
</ul>