<%= render 'carousel-partial'%>

<div class="row-fluid">



  <div class="span6 offset3 sign-up">
    <%= link_to("Create Your Own Pillbox", "users/sign_up", html_options = {:class => "btn btn-large btn-warning"}) %>
  </div>

</div>  

<div>
	<hr>

	<%= render 'about-partial' %>

</div>



