<div id="logo" class="main" >PillBox</div>

<div class="row-fluid">

  <div class="span6 offset3 sign-up">
    <button class="btn btn-large btn-warning" type="button">Create Your Own Pillbox</button>
    <hr>
    <button class="btn btn-large btn-danger" type="button">Become a Pillbox Coach</button>
  </div>
  
</div>  

<hr>

<%= render 'about-partial' %>

