<div id="logo" class="main" >PillBox</div>
<div id="logo-sub">Keep track of your meds.</div>

<div class="row-fluid">

  <div class="span6 offset3 sign-up">
    <%= link_to("Create Your Own Pillbox", "users/sign_up", html_options = {:class => "btn btn-large btn-warning"}) %>
    <hr>
    <%= link_to("Become a Pillbox Coach", "#", html_options = {:class => "btn btn-large btn-danger"}) %>
  </div>

</div>  

<div>
	<hr>

	<%= render 'about-partial' %>

</div>



