
<div class="buddy-list">
  <h3>My Patients</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Last Message In</th>
        <th>Last Message Out</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Aron</td>
        <td>(SMS)    I lifted a car today.</td>
        <td>(Email)  Are you taking roids again!!!!?</td>
        <td><a class="link" href="#">Send SMS</a></td>
        <td><a class="link" href="#">Send Email</a></td>
      </tr>
      <tr>
        <td>Wooj</td>
        <td>(Email)  I can't sleep at night.</td>
        <td>(SMS)    Try taking a shot of whiskey before going to bed.</td>
        <td><a class="link" href="#">Send SMS</a></td>
        <td><a class="link" href="#">Send Email</a></td>
      </tr>
    </tbody>
  </table>

</div>