
<div class="coach-list">
  <h3 class="muted">My Coaches</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Last Message In</th>
        <th>Last Message Out</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Erik</td>
        <td>Don't forget to take your Vicotin! (SMS)</td>
        <td>I can't get enough of this stuff. (Email)</td>
        <td><a class="link" href="#">Send SMS</a></td>
        <td><a class="link" href="#">Send Email</a></td>
      </tr>
      <tr>
        <td>Jonathan</td>
        <td>You might want to consider laying off the drugs. (Email)</td>
        <td>No way. No how. (Email)</td>
        <td><a class="link" href="#">Send SMS</a></td>
        <td><a class="link" href="#">Send Email</a></td>
      </tr>
    </tbody>
  </table>

</div>