
<div class="coach-list">
  <h3>My Coaches</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Last Message In</th>
        <th>Last Message Out</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>

    </tbody>
  </table>

</div>