
<div class="meds-list">
  <h3 class="muted">My Meds</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Drug</th>
        <th>Dosage</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Vicodin</td>
        <td>Hydrocodone</td>
        <td>2 pills</td>
        <td>Take with food.</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Vicodin</td>
        <td>Hydrocodone</td>
        <td>2 pills</td>
        <td>Take with food.</td>
      </tr>
    </tbody>

  </table>

</div>