<% provide(:title, 'MyPillBox') %>
<%= render 'common/headeruser' %>

<div class="container user-page">
	<% if current_user.name %>
	<h1 class="pagination-centered"><%= current_user.name %>'s PillBox</h1>
	<% else %>
	<h1 class="pagination-centered">My PillBox</h1>
	<% end %>

	<%= render 'reminders_short' %>

	<hr>

	<%= render 'meds_list' %>

</div>