/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

// Teal
$brand-primary: #0e8d94;
// Green
$brand-success: #59a80f;
// Yellow
$brand-warning: #ffab07;
// Red
$brand-danger: #cc0c39;
// Purple
$brand-info: #66245b;
$gray: #434d53;

 #logo {
  font-family: 'Chango', arial;
  font-size: 2em;
  font-weight: bolder;
  color: $brand-primary;
  text-decoration: none;
 }

 #logo.main {
  font-size: 4em;
  margin-top: 75px; 
  text-align: center;
}

#logo-sub {
  margin-top: 30px;
  font-size: 2em;
  font-family: 'Abel', sans-serif;
  text-align: center;
}




@import "carousel.css.scss";
@import "footer.css.scss";
@import "header.css.scss";
@import "home.css.scss";
@import "medications.css.scss";
@import "pillbox.css.scss";
@import "reminders.css.scss";
//Importing "scaffolds.css.scss" causes sides of carousel to not shade correctly
//@import "scaffolds.css.scss";
@import "bootstrap";



/*#send-column {
  display: inline-table;
  text-align: center;
  padding-top: 5px;
}

.send-column .send-reminder {

}*/