#footer-container {
  text-align: center;
 }

 #footer-container ul li {
  display: inline;
  margin: 0px 5px;
  font-weight: bolder;
 }

  #footer-container ul li .btn-link{
  text-decoration: none;
 }

 hr {
  border-bottom: 1px dotted #C1C1C1;
 }