 #logo {
  font-family: 'Chango', arial;
  font-size: 2em;
  font-weight: bolder;
  color: #49afcd;
 }


 #header-container {
  width: 90%;
 }

 .user-header {
  margin-top: 10px;
 }

 .header-form {
  width: 100px;
 }

 .user-name {
  color: #49afcd;
 }