body {
  background-image: url("background_tile.png");
}

.main-body{
  text-align: center;
}

#logo.main {
  font-size: 4em;
  margin-top: 30px 
}

.lead {
  font-size: 15px;
}

.sign-up {
  margin: 100px 0px 70px 0px;
  text-align: center;
}

.sign-up .btn-large {
  padding: 25px 40px;
}

button {
  text-align: center;
}

.sign-up hr {
  margin: 30px 0px;
  border-bottom: 1px solid #C1C1C1;
}

#about img {
  float: right;
  vertical-align: top;
  margin-left: 30px;
  width: 35%;
}

 