// Place all the styles related to the pillbox controller here.

.next-meds.page-header {
  border-bottom: 1px dotted #c1c1c1;
}

.table {
  border-bottom: 1px solid black;
  width: 95%;
  margin-left: 2.5%;
  margin-bottom: 30px;
}
