<div id="footer-container" class="container">
  <hr>
  <ul class="footer-list">
    <li><a href="/about" class="btn btn-link">About</a></li>
    <li>&middot;</li>
    <li><a href="/mypillbox" class="btn btn-link">My Pillbox</a></li>
    <li>&middot;</li>
    <li><a href="/settings" class="btn btn-link">Settings</a></li>
    <li>&middot;</li>
    <li><a href="/credits" class="btn btn-link">Credits</a></li>
  </ul>
  <p><span id="logo">PillBox</span></p>
  <p>&copy; 2013</p>
</div>


