<div id="footer-container" class="container">
  <hr>
  <ul class="footer-list">
    <li><a href="/about" class="btn btn-link grey-text" style="color: #666;">About</a></li>
    <li>&middot;</li>
    <li><a href="/mypillbox" class="btn btn-link grey-text" style="color: #666;">My Pillbox</a></li>
    <li>&middot;</li>
    <li><a href="/users/edit" class="btn btn-link grey-text" style="color: #666;">Settings</a></li>
    <li>&middot;</li>
    <li><a href="/credits" class="btn btn-link grey-text" style="color: #666;">Credits</a></li>
  </ul>
  <p><a href="/" id="logo" class="brand">PillBox</a></p>
  <p>&copy; 2013</p>
</div>


